body{
text-align: center;
}

/* Headings */
.big-heading{
  font-family: 'Monteserrat' sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading{
  font-size: 3em;
  line-height: 1.5em;
}

.feature-heading{
  font-size: 1.5rem;
  font-weight: bold;
}
.container-fluid{
  padding:7% 15%;
}

/* sections */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
  background-color:#fff;
}

/* tags */
h1,h2,h3,h4,h5,h6{
  font-family: 'Monteserrat-Bold' sans-serif;
}

p{
  color: #8f8f8f;
}

/* navbar */
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Monteserrat-light";
}

.download-button{
  margin: 5% 3% 5% 0;
}

/* title */
#title{
  text-align: left;
}

#title .container-fluid{
  padding: 3% 15% 7%;
}

.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */
#features{
  position:relative;
}

.feature-box{
  padding:5%;
}

.icon{
  color: #ef8172;
  margin: 1rem;
}
.icon:hover{
  color: #ff4c68;
}

/* Testinomials */
#testimonials{
  padding:7% 13%;
  background-color: #ef8172;
}

.testimonial-text{
  font-size: 3em;
  line-height: 1.5em;
  font-weight: bold;
}
.testimonials-image{
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}


/* press */
#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */
#pricing{
  padding: 100px;
}

.price-text{
  font-size: 3em;
  line-height: 1.5em;
  font-weight: bold;
}
.pricing-column {
  padding: 3% 2%;
}

.social-buttons{
  margin: 20px 10px;
}

/* media conditions */
@media (max-width:1138px) {
  #title{
  }

  .title-image{
    position: static;
    transform: rotate(0);
  }
}
